{% extends "formbase.html" %}

{% load static %}

{% block page-title %}Clients{% endblock %}

{% block forms %}


    <main class="hoc container clear">


        {{ message }}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}

            {% if form %}
                <input type="submit" value="Submit">
            {% endif %}
        </form>

        {% if not hide %}
            <footer><a href="{{ url }}">&laquo; Go back</a></footer>
        {% endif %}

    </main>

{% endblock %}