{% extends "formbase.html" %}

{% load static %}

{% block page-title %}Login{% endblock %}

{% block forms %}

  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div class="clear btmspace-50">
        <h2>User List</h2>
        <p class="clear">Select a user to message.</p>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="clear btmspace-50">
          <ul class="nospace">
              {% for user in users %}
                  <li><i class="fas fa-user"></i> <a href="../messages/send/{{ user.id }}">{{ user.username.capitalize }}</a> </li>
              {% endfor %}
          </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>

{% endblock %}






